:root {
    --primary-color: #FFFFFF;
}

body, html {
    background-color: #383838;
    color: var(--primary-color);
    margin: 0 0;
}

body {
    margin-top: 60px;
    font-family: "Roboto";
}

header {
    background-color: #303030;
    position: fixed;
    top: 0px;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
}

header ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    margin: 10px 10px;
    height: 40px;
}

header ul a {
    margin: 10px;
    text-decoration: none;    
}

a:link {
    color: var(--primary-color);
}

a:visited {
    
}

a:hover {
    text-decoration: underline;
}

a:focus {
    
}

a:active {
    
}

footer {
    background-color: #303030;
    bottom: 0px;
    padding: 12px;
    position: fixed;
    width: 100%;
}

#copyright {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 0px;
    width: 200px;
    text-align: center;
}

.disappearing {
    visibility: visible;
}

.mobileFeature {
    visibility: hidden;
}

@media (max-width: 500px) {
    .mobileFeature {
        visibility: visible;
    }
    
    .disappearing {
        visibility: hidden;
    }
}

h1, h2, h3 {
    font-family: "Open Sans";
}

h1 {
    font-size: 40px;
    margin: 20px;
}

#copyright {
    font-size: 10px;
}