ol li:hover::after {
    position: relative;
    display: inline-block;
    content: '\00A0'  attr(data-blackjack-value);
}

button:hover::after {
    position: relative;
    display: inline-block;
    content: '\00A0'  attr(data-user-hints);
}