<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="reset.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="shell.css">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="shell.js"></script>
  </head>
  <body>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
          <span class="mdc-top-app-bar__title">Title</span>
          <nav class="mdc-top-app-bar__section">
              <a href="/index.html">
                <button class="mdc-button">
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label mdc-theme--on-primary">About</span>
                </button>
              </a>
              <a href="/rules.html">
                <button class="mdc-button">
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label mdc-theme--on-primary">Rules</span>
                </button>
              </a>
              <a href="/table.html">
                <button class="mdc-button">
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label mdc-theme--on-primary">Table</span>
                </button>
              </a>
          </nav>
        </section>
      </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        <h1><%= username %></h1>
        <h2><%= fullName %></h2>
    </main>
    <footer>
        <span id="copyright">Copyright</span>
    </footer>
  </body>
</html>